@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Oswald&family=Playfair+Display:ital@1&display=swap');

html {
    box-sizing: border-box;
}

* {
    background-color: #F4F4F4;
    max-width: 100%;
    
   
}


*:before, *:after{

    box-sizing: inherit;


}

body {
    margin: 0;
    padding: 0;
}

.header {
    
    max-width: 100%;
    margin: 0 auto;
    background-color: #F8F8F8;
    padding: 20px;
    font-family:"Lato";
    font-stretch:extra-expanded;
    letter-spacing: 2px;
    position: relative;
    top:15px;
    border-top: 5px double #E4E4E4;

}

.flex-nav ul {
    
    max-width: 86.4%;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: 110px;
    display: flex;
    flex-wrap: wrap;


}

.flex-nav li{
    flex:3;
    justify-content: flex-start;
    flex-shrink: 3;

}

.flex-nav .social-icons {
    flex: 1;
    font-size: 14px;
    position: relative;
    justify-items: flex-end;
}



nav ul {
    
    flex:1; 
    color: #444444;
    list-style: none;
    font-family: "Lato";
    font-weight: 700;
    letter-spacing: 1px;
    
    
    
}

.flex-nav  .social_icons li{
    flex:1;
    display:list-item;
    align-self: flex-end;
    position: relative;
    padding-left: 40px;
    color: #AAAAAA;
    
}

.flex-nav .menu-items li{
    flex:2;
    flex-grow:4;
    display: list-item;
    justify-content: flex-start;
    position: relative;
    padding-right: 0px;
   
    
}



.holder{

    display: flex;
    max-width: 100%;
    justify-content:flex-start;
    padding-left: 10.5%;
    margin-top: 5px;
    /*border-top: 10px solid gold;*/
    
}
/* difine main boxes of the display*/
.container {
    
    /* background: #afd451; */
    flex:1 ;
    display: flex;
    max-width: 91.6%;
    margin: 0;
    justify-content:flex-start;
    margin-top: 60px;
    
    
}


.bbox {

    flex:2;

    text-align: center;
    
    

}

.box{
    display: flex;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    content:"";
    font-family:"Lato";
    margin-bottom: 50px;
    background-color: white;
}
/* left hand display of the desktop page*/
.articles {
    max-width: 64.2%;
    background: #FFFFFF;
    margin:0;
}
/* space holder to separte left and right information*/
.space {

    max-width: 2.6%;
    
}
/* right hand display on desktopview turns to lower part on mobile */
.sidebar {
    max-width: 30.8%;
    background: #f6f9f6;
    border-bottom: 50px solid rgb(119, 80, 80);
}



.articles img {
    width: 750px;
    max-height: 475px;
}

.articles p {
    font-family: Oswald;
    font-size: 16px;
    text-align: justify;
    margin-top: 0px;
    margin-left: 2.5em;
    margin-right: 2.5em;
    max-height: 120px;
    overflow:hidden;
}

.button{

    background-color: #e7eee7;
    border: 2px solid #ca5c3c;
    color: #CA5D3D;
    align-self: center;
    width: 170px;
    height: 35px;
    font-size: 12px;
    font-family:'Lato';
    margin-top: 45px;
    position: relative;
    top: 100%;
    
    

}

.info-select {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-style:oblique;
    font-size: 14px;
    padding-top: 45px;
    padding-bottom: 84px;
}

.art2 .info-select{
    padding-bottom: 74px;;
}

.art3 img{
   
    width: 750px;
    max-height: 500px;
  
}

.info2 img{
    align-self: center;
    width: 300px;
    height: 200px;
}

.info3 img{

    align-self: auto;
    width: 105px;
    height: 75px;
    margin-left: 30px;
}

.info4 img{
    align-self: center;
    max-width: 145px;
    height: 145px;
    padding: 6px;
}
.info4 .author{
    
    flex-wrap: wrap;
    
}

.info4 ul{
    

    padding: 0px;
    width: 100%;
    justify-content:center;
    
}
h2 {
 
    font-family: Oswald;
    font-size: 26px;
    text-align: center;
    margin-top: -5px;


}

h3 {
    font-size: .8em;
    font:large;
    font-family:"Lato";
    margin-top: 42px;
}

p1{
    
    justify-content: flex-start;
    
    
}

ul {
    /* padding: 10px; */
    display: flex;
    color: #121212;
    list-style: none;
    justify-content:space-around;


}
a {
    font-family: "Oswald";
    color: #090908; 
    text-decoration: none;
    padding: 4px;
}

a:hover{
    color: #de1f1f;
}



.info1 img{

    max-width: 360px;;
    max-height: 184px;
}

.circle img{
   
    max-height:180px;
    max-width:180px;
    border-radius: 50%;
    border: 8px solid #FFFFFF;
    position:relative;
    top: -85px;
}

.sidebar h2{
    font-family: Oswald;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
    position: relative;
    top: -78px;
}

.author li {

        
        font-style:oblique;
        font-size: 14px;
        justify-self: flex-start;
   

}

.info1 p{
    position:relative;
    font-size: 16px;
    font-family:"Lato";
    text-align:center;
    padding-left: 13px;;
    line-height: 1.6rem;
    letter-spacing: 0px;
    top: -74px;
    margin-top: 0px;
    margin-left: 1.2em;
    margin-right: 2em;
   
}

.info1 ul{
    display: flex;
    justify-content: center;
    position: relative;
    top: -89px;
    left: -25px;
}

.info1 li{

    border: 2px;
}

.info1 .social-icons li{

    border: 1px solid #BCBCBC;
    background-color: white;
    width: 19px;
    height: 19px;
    padding: 5px;
    border-radius: 50%;
    font-size: 13px;
    justify-content: space-between;
    margin: 4px;

    
}

/* define mobile view */
@media (max-width: 900px){

    .space{
        width:0;
    }

    .holder {
        padding-left: 0;
        
        justify-content:center;
    }
    .container{
        max-width: 95.1%;
        flex-direction: column;
        justify-content: center;
        margin-top: 0;
    }
    .articles {
        max-width: 100%;
        
    }

    .info1 img {
        
        max-width:472px;
        max-height: 244px;
    }
    .circle img{
   
        height: 38%;
        width:38%;
        /*border-radius: 50%;
        border: 8px solid #f1eded;
        position:relative;*/
        top: -130px; 
    }
   
    
    .sidebar {
        max-width: 100%;

    }
    .info3 {
        flex-direction: row;
        flex-wrap: wrap;
    }

   
    
    footer  li:nth-last-child(2n){

        max-width: 0px;
        max-height: 0px;

    }
    
}
/* end of mobile view*/




/*
.art1 {background: #eee9e9;}
.art2 {background: #64cf86;}
.art3 {background: #4e44d6a1;}
.art4 {background: #e560ad;}
.info1 {background: #de1f1f;}
.info2 {background: #84e7b4;}
.info3 {background: #d4ed2e;}
*/

/* footer of the page */
footer {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 140px;
}

footer h2 {

    flex:1;
    font-size: 18px;
    font-weight: 300;

}

footer .photos img{

    height: 180px;
    width:180px;
    

}
 
footer ul{

    padding-left: 0;
}
