@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Oswald&family=Playfair+Display:ital@1&display=swap');

html {
    box-sizing: border-box;
}

* {
    background-color: #e8ac70;
    max-width: 100%;
    font-family: Lato, Oswald, Playfair+Display;
   
}


*:before, *:after{

    box-sizing: inherit;


}

body {
    margin: 0;
    padding: 0;
}

.header {
    
    max-width: 83%;
    margin: 0 auto;
    padding: 20px;
    font-family: Lato;
    font-style: light;
    margin-top: 15px;
}

.flex-nav ul {
    border: 2px solid black;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.flex-nav li.menu-items{
    flex:1;
    max-width: 10%;
    justify-items: flex-start;
    font-size: small;
    font-style:normal;
    flex-basis: 0%;
}

.flex-nav .social-icons {
    flex: 1;
    max-width: 3%;
    font-size: 14px;
    justify-items: flex-end;
}



/* nav ul {
    
    flex:1; 
    color: #121212;
    list-style: none;
    font-family: Lato;
    font-style: normal;
    flex-wrap: wrap;
    
}*/

/*.flex-nav ul .social_icons{
    flex:1;
    justify-content: flex-end;
    justify-content: space-around;
    position: relative;
    padding-left: 40px;
    
}

.flex-nav ul .menu-items{
    flex-grow:4;
    justify-content: flex-start;
    position: relative;
    padding-right: 0px;
    font-size: xx-large;
    
}

*/

.holder{

    display: flex;
    max-width: 100%;
    justify-content:flex-start;
    padding-left: 10.5%;
    background: #2ecaed;
    margin-top: 5px;;
    /*border-top: 10px solid gold;*/
    
}

.container {
    
    background: #afd451;
    flex:1 ;
    display: flex;
    max-width: 91.6%;
    margin: 0;
    justify-content:flex-start;
    margin-top: 40px;
    
    
}



.bbox {

    flex:2;
    color: #a186ce;
    text-align: center;
    
    

}

.articles {
    max-width: 64.2%;
    background: #2e84ed;
    margin:0;
}
.space {

    max-width: 2.6%;
    background: #121212;
}

.sidebar {
    max-width: 30.8%;
    background: #22d537;
    border-bottom: 50px solid rgb(119, 80, 80);
}

.box{
    display: flex;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    color: rgb(38, 18, 18);
    content:"";
    font-family:Lato;
}






.articles img {
    width: 750px;
    max-height: 475px;
}

.info2 img{
    align-self: center;
    width: 300px;
    height: 200px;
}

.info3 img{

    align-self: auto;
    width: 105px;
    height: 75px;
    margin-left: 30px;
}
h2 {
 
    font-family: Oswald;
    font-size: 26px;
    text-align: center;
    margin-top: -5px;


}

h3 {
    font-size: .8em;
    font:large;
    font-family: Lato;
    font-style: Hairline;
    margin-top: 42px;
}


.articles p {
    font-family: Oswald;
    font-size: 16px;
    text-align: justify;
    margin-top: 0px;
    margin-left: 2.5em;
    margin-right: 2.5em;
    max-height: 120px;
    overflow:hidden;
}

.button{

    background-color: #4CAF50;
    border: 2px solid #ca5c3c;
    color: #CA5D3D;
    align-self: center;
    width: 170px;
    height: 35px;
    font-size: 12px;
    font-family:Lato;
    margin-top: 20px;
    position: relative;
    top: 100%;
    
    

}

.info-select {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-style:oblique;
    font-size: 14px;
    padding-top: 50px;
    padding-bottom: 84px;
}

.art2 .info-select{
    padding-bottom: 74px;;
}

.art3 img{
   
    width: 750px;
    max-height: 500px;
  
}

p1{
    
    justify-content: flex-start;
    
    
}


ul {
    /* padding: 10px; */
    display: flex;
    color: #121212;
    list-style: none;
    justify-content:space-around;


}
a {
    font-family: Oswald;
    color: #090908; 
    text-decoration: none;
    padding: 4px;
}

a:hover{
    color: #de1f1f;
}



.info1 img{

    max-width: 360px;;
    max-height: 184px;
}

.circle img{
   
    max-height:180px;
    max-width:180px;
    border-radius: 50%;
    border: 7px solid #f1eded;
    position:relative;
    top: -80px;
}

.sidebar h2{
    font-family: Oswald;
    font-size: 18px;
    text-align: center;
    position: relative;
    top: -75px;
}

.author li {

        
        font-style:oblique;
        font-size: 12px;
        justify-self: flex-start;
   

}

.info1 p{
    position:relative;
    font-size: 16px;
    font-family: Lato;
    font-weight: light;
    text-align:center;
    padding-left: 13px;;

    letter-spacing: 2px;
    top: -70px;
    margin-top: 0px;
    margin-left: 1.8em;
    margin-right: 1.8em;
   
}

.info1 ul{
    display: flex;
    justify-content: center;
    position: relative;
    top: -65px;
}

.info1 li{

    border: 2px;
}

.info1 .social-icons li{

    border: 1px solid #BCBCBC;
    background-color: white;
    border-radius: 50%;
    padding: 8px;
    font-size: 10px;
    justify-content: space-between;

    
}


@media (max-width: 900px){

    .space{
        width:0;
    }
    .container{
        flex-direction: column;
        justify-content: center;
    }
    .articles {
        max-width: 100%;
        
    }
    .circle img{
   
        height:50%;
        width:50%;
        /*border-radius: 50%;
        border: 8px solid #f1eded;
        position:relative;
        top: 50%; */
    }
   
    
    .sidebar {
        max-width: 100%;

    }
    
    footer  li:nth-last-child(2n){

        max-width: 0px;
        max-height: 0px;

    }
    
}





.art1 {background: #eee9e9;}
.art2 {background: #64cf86;}
.art3 {background: #4e44d6a1;}
.art4 {background: #e560ad;}
.info1 {background: #de1f1f;}
.info2 {background: #84e7b4;}
.info3 {background: #d4ed2e;}



footer {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 140px;
}

footer h2 {

    flex:1;
    font-size: 18px;
    font-weight: 300;

}

footer .photos img{

    height: 180px;
    width:180px;
    

}
 
footer ul{

    padding-left: 0;
}
